body{
    margin: 0px;
    padding: 0px;
    font-family: 'Manrope', sans-serif;
}

button{
	cursor:pointer;
}

*{
    padding: 0%;
    margin: 0%;
}
.nav{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5px;
    gap: 10px;

    position: relative;
    width: 100%;
    height: 120px;

    background: #003B95;
}
.nav_1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    position: relative;
    width: 70%;
    height: 100px;
    color: #FFFFFF;
}

.nav_1 button{   
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: relative;
    width: 73px;
    height: 40px;

    background: #FFFFFF;
    border: 1px solid #006CE4;
    border-radius: 5px;
    color: #006CE4;
	cursor:pointer;
}

.logo{
    position: absolute;
    left: 0px;
    top: auto;

    font-size: 30px;
}

.search_bar_container{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    position: relative;
    width: 100%;
    height: 151px;

    background: #003B95;
}
.search_bar_content{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 1px;

    position: relative;
    width: 70%;
    height: 151px;
}

.search_bar_messages{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    left: 0%;
    top: 0%;
    color: #FFFFFF;

}
.search_bar_messages h1 h4{
    color: #FFFFFF;
}

.search_bar{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px;

    position: relative;
    height: 105px;

    background: #FFB700;
    border-radius: 7px;
}

.search_filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 344px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 7px;
    padding-left: 5px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.search_bar button{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 122px;
    height: 40px;

    background: #006CE4;
    border-radius: 7px;
    border: none;
    color: #FFFFFF;
    font-family: 'Manrope', sans-serif;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

input:focus{
    background-color: hsla(0, 25%, 98%, 0);
    border: none;
}
input::placeholder{
    color: black;
    font-family: 'Manrope', sans-serif;
}

input{
    background-color: white;
    border: 0;
    outline: none;
    color:black;
    width: 60%;
}


.sample_listing_container{
    display: inline-flex;
    width: 100%;
    height: 251px;
    padding: 0px 0px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-top: 50px;
}

.section_header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    left: 0%;
    top: 0%;
    width: 60%;
}

.listings{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 60%;
}

.listing-item{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 12px;
    min-width: 200px;
    width: 200px;
    height: 290px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.listing-item:hover{
    cursor: pointer;
}

.listing-item div{
    width: 100%;
}
.listing-item img{
    width: 100%;
}
.listing-item span{
    font-size: medium;
}
.listing-item div span{
    font-size: small;
}


#notification{
    background-color: rgb(230, 229, 229);
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px;
    border-radius: 3px;
    -webkit-animation: cssAnimation 3s forwards; 
    animation: cssAnimation 5s forwards;
}