<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    

    <title>Login</title>
</head>
<body>
<nav class="nav">
        <div class="nav_1">
            <span class="logo" onclick="link('/')">Sharespace</span>
            <button onclick="link('/login')">Login</button>
        </div>
    </nav>
    <center>
        <div class="login_form">
            <h2>Password Reset</h2>
            <p>Your password has been successfully reset</p>
            <p><%= email %></p>
            <p> Continue to the login page</p>
		<a href='/login'>
            <button class="login_button" type="submit">Continue to login</button>
            </a>
        </div>
    </center>




</body>
<script>
    function link(link_to){
        window.location=link_to
    }
</script>
</html>