body{
    margin: 0px;
    padding: 0px;
    background-color:#003B95;
    background-image: url("../images/image.svg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    /*Font for every text*/
    font-family: 'Manrope', sans-serif;
}


.nav{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    padding-top: 5px;
    gap: 10px;

    position: relative;
    width: 100%;
    height: 120px;

}
.nav_1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: relative;
    width: 1124px;
    height: 100px;
    color: #FFFFFF;
}

.nav_1 button{   
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: relative;
    width: 73px;
    height: 40px;

    background: #FFFFFF;
    border: 1px solid #006CE4;
    border-radius: 5px;
    color: #006CE4;
}

.logo{
    position: absolute;
    left: 0px;
    top: auto;

    font-size: 30px;
}


.login_form{
    box-sizing: border-box;
    width: 500px;
    height: 50%;
    background-color:#80b2ff;
    border: 0.4px solid #FFFFFF;
    border-radius: 15px;*/
    margin-top: 50px;
	padding-bottom: 20px;
}

.input{
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    color: #FFFFFF;

    position: relative;
    width: 70%;
    /*height: 50px;*/

    border: 1px solid #FFFFFF;
    border-radius: 84.5px;
    margin: 5px;
}

.input_icon{
    width: 24px;
    height: 24px;
}

input{
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    outline: none;
    color: white;
    width: 60%;
}

input:focus{
    background-color: hsla(0, 25%, 98%, 0);
    border: none;
}
input::placeholder{
    color: white;
    font-family: 'Manrope', sans-serif;
}


.login_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 0px;
    gap: 10px;

    position: relative;
    width: 40%;
    /*height: 50px;*/
    width: 70%;

    background: #CEEBFC;
    border-radius: 80px;
    border: none;
    font-family: 'Manrope', sans-serif;
}

.google_auth_api{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: relative;
    width: 40%;
    width: 70%;

    background: #FFFFFF;
    border-radius: 84.5px;
    margin-bottom: 20px;
}

button{
	cursor:pointer;
}

a{
    color:#FFFFFF;
    margin: 10px;
}
a:visited{
    color: #FFFFFF;
}
#notification{
                background-color: rgb(230, 229, 229);
                position: absolute;
                top: 5px;
                left: 5px;
                padding: 5px;
                border-radius: 3px;
                -webkit-animation: cssAnimation 3s forwards; 
                animation: cssAnimation 5s forwards;
            }