body {
    margin: 0px;
    padding: 0px;
    font-family: 'Manrope', sans-serif;
    background-color: #F5F5F5;
}

button {
    cursor: pointer;
}

* {
    padding: 0%;
    margin: 0%;
}

.nav {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5px;
    gap: 10px;

    position: relative;
    width: 100%;
    height: 60px;

    background: #003B95;
}

.nav_1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    position: relative;
    width: 70%;
    height: 50px;
    color: #FFFFFF;
}

.nav_1 button {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    position: relative;
    width: 73px;
    height: 40px;

    background: #FFFFFF;
    border: 1px solid #006CE4;
    border-radius: 5px;
    color: #006CE4;
    cursor: pointer;
}

.logo {
    position: absolute;
    left: 0px;
    top: auto;

    font-size: 30px;
}







.dashpga_dash_controls {
    position: absolute;
    top: 70px;
    left: 20px;
    height: 500px;
    border: #000 solid 1px;

    display: inline-flex;
    height: 516px;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    border-radius: 15px;
    background: #003B95;
    color: #FFFFFF;
}

.dashpga_dash_control_button {
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.dashpga_dash_control_button img {
    width: 25px;
    height: 25px;
}

.dashpga_containerlvl0 {
    display: flex;
    width: 100%;
    height: 70%;
    padding: 10px 0px 10px 0px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.dashpga_dash_container {
    width: 60%;
    height: 70%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;

}

.dashpga_dashboard_container_type1{
    display: flex;
height: 70%;
padding: 10px;
align-items: center;
gap: 30px;
}

.dashpga_dash_container_type2_centered{
    display: inline-flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.dashpga_content_container_type1{
    display: flex;
width: 221px;
padding: 10px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
background-color: #FFFFFF;
box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.dashpga_content_container_type1 h3{
    font-size: large;
}

.dashpga_dash_table{
    background-color: #FFFFFF;
    width: 100%;
    
box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.dashpga_dash_table td {
    margin: 5px;
    padding: 10px;
}

.dashpga_dash_table_button{
    display: inline-flex;
    padding: 3px;
    align-items: center;
    gap: 2px;
    border: #000 solid 0.5px;
    border-radius: 9px;
    cursor: pointer;
}



.profile_container {
    display: flex;
    width: 311px;
    height: 195px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.profile_button {
    display: inline-flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.profile_input_container_horizontal{
    display: inline-flex;
    width: 50%;
    height: 145px;
    align-items: center;
    gap: 10px;
}

.profile_input_container_vertical{
    display: inline-flex;
    width: 50%;
    height: 145px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.profile_input {
    display: inline-flex;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
}

.profile_input input{
    border-radius: 4px;
    border: 1px solid #000;
    background: #cccecf;
    height: 35px;
    padding-left: 10px;
}

.dashpga_dash_profile_container_centered{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #FFFFFF;
    width: 100%; height: 600px; overflow-y: scroll;
    overflow-x: hidden;
}

