<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sharespace</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <nav class="nav">
        <div class="nav_1">
            <span class="logo">Sharespace</span>
            <span>List your space</span>
            <% if(auth){ %>
                <button onclick="link('/login_processor/logout')">Logout</button>
            <% } else { %>
                <button onclick="link('/registration')">Register</button>
                <button onclick="link('/login')">Login</button>
            <% } %>
        </div>
    </nav>
    <div class="search_bar_container">
        <div class="search_bar_content">
            <div class="search_bar_messages">
                <h1>Find your perfect space</h1>
                <p>A flexible way of finding accommodation</p>
            </div>
        </div>

        <div class="search_bar">
            <div class="search_filter">
                <input type="text" placeholder="City">
            </div>
            <div class="search_filter">
                <input type="text" name="" id="" placeholder="Price">
            </div>
            <button>search</button>
        </div>

        
    </div>
    
</body>

<script>
    function link(link_to){
        window.location=link_to
    }
</script>
</html>